
{{> header }}

<center>
<img src = "resources/image12.png" class ="image2">
<img src ="resources/background2.jpg" class = "image">
</center>
<br/>
<br/>
<br/>
<h2> Welcome to Daigler20! </h2>
<br/>
<p> Daigler20 (short for Daigler 2020) is the newly-setup Moodle server of Ateneo de Davao University's higher education unit. It serves as the official Learning Management System of the College as well as the Graduate School and the School of Law. It currently runs Moodle version 3.10. It also features a more contemporary and simplified theme. It is our hope that this Moodle server will help support our online education especially in this time of pandemic.</p>
<style>
.image{
    width: 100%;
    height: auto;
    align: center;
    margin-top: 120px;
    
}
.image2{
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    align: center;
    position: absolute;
    z-index: 1;
    top: 140px;
    right: 520px;

}
</style> 